<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>COUNT</title>
</head>
<body>
<h1>The total number of user is:</h1>
<h2 th:text="${test}"></h2>
<br>
<p><a href="/">Home</a></p>
</body>
</html>